    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" width="100em" alt="" style="margin-right:20px">
                    <div class="intro-text">
                        <span class="name">Hi, I'm Lewis</span>
                        <span class="skills">I am a highly motivated programmer who takes pride in producing efficient and managable code and enjoy working as part of a team towards a common goal. My strong interpersonal skills allow me to explain my views to other team members as well as take onboard feedback. My passion for games and game development have led to the development of my first commercial game project, Galaxy Crash, now available on Steam. In 2020 I expanded my skillset during my Internship as an Engine Support intern at Unity, a position that I returned to in the Console Support team following the completion of my degree. 

                            <br><br><b>Skills:</b>
							<ul>
								<li>C#, C++ & GML</li>
                                <li>Unity Engine</li>
                                <li>Visual Studio & Rider IDE's</li>
								<li>Source Control (Git, Mercurial, Perforce)</li>
                                <li>JIRA, Hack'n'Plan, Trello</li>
								<li>FogBugz</li>
								<li>GameMaker</li>
								<li>Adobe Creative Suite</li>
							</ul>


							<br>Thank you for taking the time to review my portfolio.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>